[tool.poetry]
name = "ns_sql_utils"
version = "0.1.0"
description = "Utilities for interacting with sql databases"
authors = ["Gregory Berns-Leone <gbernsleone@narrativescience.com>"]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://github.com/NarrativeScience/ns_sql_utils"
repository = "https://github.com/NarrativeScience/ns_sql_utils"

[tool.poetry.dependencies]
python = "^3.6.5"
# Up to "^3.1"?
aenum = "^2.1"
aiocontextvars = "=0.2.2"
# Can we unpin this?
# aiopg = ">=1.2"
aiopg = "==0.16.0"
# Can we unpin this?
# asyncpg = "^0.23"
asyncpg = "==0.15.0"
asyncpgsa = "==0.23.0"
# Can we unpin this?
# backoff = "^1.11"
backoff = "==1.10.0"
# Up to "^1.8"?
pydantic = "^1.6"
# Can we unpin this?
# SQLAlchemy = "^1.4"
SQLAlchemy = ">=1.3.19<1.4"
# Doesn't exist yet
# ns-data-structures = ""
ns-env-config = "^0.2.0"

[tool.poetry.dev-dependencies]
pre-commit = "^2.10.1"
pytest = "^6.2.2"


[[tool.poetry.source]]
name = "codeartifact"
url = "https://lexio-231405699240.d.codeartifact.us-east-1.amazonaws.com/pypi/lexio/simple/"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
